<div id="carousel">
  <!-- <img [src]="ImageUrl" alt="alt test if needed">  -->
  <carousel class="img-responsive">
   <!--  <slide>
          <img [src]="ImageUrl.debt" alt="alt test if needed"/> 
    </slide> -->
    <slide>
        <img [src]="ImageUrl.hrsa" class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.Cms"  class="img-responsive" alt="alt test if needed"/>
    </slide>
  <!--  <slide>
      <img [src]="ImageUrl.Higlas" alt="alt test if needed"/>
    </slide> -->
    <slide>
      <img [src]="ImageUrl.Pheaa"  class="img-responsive" alt="alt test if needed"/>
    </slide>
    
     <slide>
        <img [src]="ImageUrl.c"  class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.collection" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.flowchart"  class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.paid"   class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.top"  class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.sallemie"  class="img-responsive" alt="alt test if needed"/>
     </slide>
     <slide>
        <img [src]="ImageUrl.doj"  class="img-responsive" alt="alt test if needed"/>
     </slide>

  </carousel>
</div>
<div id="content">
  <p>The Debt Management Branch is a Treasury-designated Debt Collection Center providing Debt Management, Collection, Litigation
    Support and/or Treasury Referral Services for all Operating Divisions within the Department of Health and Human Services.
    The services offered by the Debt Management Branch include:</p>
    <ul>
      <li>Accounting support</li>
      <li>Administrative Wage garnishment</li>
      <li>Credit bureau reporting</li>
      <li>Custom letters, accout statements and billing statements</li>
      <li>Debt servicing and collection</li>
      <li>Deposit services (Paperless check Conversion, Credit Card, ACH, Pay.gov, Wire Transfer) </li>
      <li>Lockbox facilities</li>
      <li>Referrals</li>
    </ul>
  <!-- <p>Accounting support<br/> Administrative wage garnishment<br/> Credit bureau reporting
    <br/> Custom letters, account statements and billing statements
    <br/> Debt servicing and collection
    <br/> Deposit services (Paperless Check Conversion, Credit Card, ACH, Pay.gov, Wire Transfer)
    <br/> Lockbox facilities
    <br/> Referrals:
    <br/>
  </p> -->
</div>