#copyrights{
    font-weight: bold;
    width:100%;
    background-color: #01539c;
    margin-top:1px !important;
    text-align: center !important;
    color:orange;
    top: -20px !important;
    padding:5px !important;
}