<nav id="reportsleftNavigation">
  <ul id="reportNav" class="nav nav-pills nav-stacked">  
    <li><a routerLink="dmcsdaily/1">DMCS-Daily</a></li>
    <li><a routerLink="dmcsweekly/2">DMCS-Weekly</a></li>
    <li><a routerLink="dmcsmonthly/3">DMCS-Monthly</a></li>
    <li><a routerLink="dmcsquarterly/4">DMCS-Quarterly</a></li>
    <li><a routerLink="dmcstreasuryoffset/5">Treasury Offset Program</a></li>
    <li><a routerLink="dmcscrossservicing/6">Cross Servicing</a></li>    
   <!-- <li><a routerLink="UserIdUnlockComponent">System Administration</a></li> -->
  </ul>
</nav>

