.DMCS-quarterlyHeader{
    text-align: center !important;
    font-weight: bold !important;
}
.btn{
	margin-left: 160px !important;
}
/* .align{
	text-align: center !important;
} */
.Upload {
/*  */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	/*  */
	float: left; /* Float the buttons side by side */

cursor: pointer; /* Pointer/hand icon */
/*  */float: left; /* Float the buttons side by side */

}
a{
	cursor:pointer !important; 
}
/deep/.mat-tab-label, /deep/.mat-tab-label-active{
	font-size:larger !important;
	font-weight: bold !important;
}