<app-top-nav></app-top-nav>
<div class="container-fluid"> 
  <div class="row">    
    <div id="leftContainer" class="col-md-3">
      <app-reports-left-nav></app-reports-left-nav>
      </div>
    <div id="rightContainer" class="col-md-9">
      <div id="contentContainer">        
       <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm12 col-xs-12">
    <app-footer></app-footer>
  </div>
  </div>
</div>