<div class="container">
  <button (click)="showSDD()">Back</button>
  <div class="navbar navbar-default">
      <div class="navbar-header">
          <a class="navbar-brand" href>Angular2 File Upload</a>
      </div>
  </div>

  <div class="row">

      <div class="col-md-12">

          <h3>Select files</h3>


          <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
          <button type="button" class="btn btn-success btn-s" (click)="upload()">
            <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
          </button>
      </div>

      <div class="col-md-9" style="margin-bottom: 40px" *ngIf="filesToUpload.length>0">

          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="table">
              <thead>
              <tr>
                  <th width="40%">Name</th>
                  <th>Size</th>
                  <th width="40%">uploaded date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of filesToUpload; let i = index">
                  <td><strong>{{ item?.name }}</strong></td>
                  {{item.size}}
                 <!--  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': filesToUpload/i + '%' }"></div>
                      </div>
                  </td> -->
                  <td width="40%">{{currentDate}}</td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>

</div>